.container {
  padding-left: 60px;
  padding-right: 60px;
}
nav {
  position: fixed;
  background-color: #eeeeee;
  width: 100%;
  height: 60px;
  text-align: right; 
  font-size: 150%; 
  vertical-align: middle;

}
nav .icon-img {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid white;
  position: absolute;
  left: 5%;
}
nav h3 {
  position: absolute;
  left: 10%;
  margin-top: 15px;
  margin-bottom: 10px;

}
nav ul {
  display: inline-block;
  list-style: none;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 10px;

}

nav li {
  display: inline-block;
  text-align: right;
  margin-left: 10px;

}

main {
  padding-top: 90px;
  padding-bottom: 1000px;
}

form {
  padding-left: 100px;
  margin-left: 10px;
}

#search{
    float:left;
    height:50px;
    margin:.8em 0 0 .5em; 
    outline:0;
    padding:.4em 0 .4em .6em; 
    width:700px; 
    font-size: 150%;
    color:  gray;
}
  
#button-holder{
    cursor:pointer;
    float:left;
    height:50px;
    margin:11px 0 0 0;
    text-align:center;
    width:50px;
    margin-left: 7px;
}
  
#button-holder img{
    width:50px; 

}

